@model Foodie.Models.User

@{
    ViewData["Title"] = "Update User";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h1>Update User</h1>

<div class="card shadow-sm" style="width: 100%; max-width: 600px; border-radius: 10px;">
    <div class="card-body">
        <form asp-action="UpdateUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="FName" class="form-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LName" class="form-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Contact" class="form-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<a asp-action="ViewUser" class="btn btn-secondary mt-3">Back to List</a>
